<div class="col-12">
  <div class="grid gap-6 col-12">
    <div class="dropdown-container">
      <label class="label relative" for="selectQuestions"
        >Select Questions</label
      >
      <div class="multiple-select p-2">
        <p-multiSelect
          [options]="countries"
          [(ngModel)]="selectedCountries"
          [showToggleAll]="false"
          placeholder="Select Questions"
          optionLabel="name"
        >
          <ng-template let-country pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ country.name }}</div>
            </div>
          </ng-template>
        </p-multiSelect>
      </div>
    </div>

    <div class="dropdown-container">
      <label class="label relative" for="selectOffers">Select Offers</label>
      <div class="multiple-select p-2">
        <p-multiSelect
          [options]="countries"
          [(ngModel)]="selectedCountries"
          [showToggleAll]="false"
          placeholder="Select Offers"
          optionLabel="name"
        >
          <ng-template let-country pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ country.name }}</div>
            </div>
          </ng-template>
        </p-multiSelect>
      </div>
    </div>

    <div class="dropdown-container">
      <label class="label relative" for="selectClient">Client</label>
      <div class="dashboard-commands p-2">
        <p-dropdown
          [options]="clientNames"
          [(ngModel)]="defaultSelectedClient"
          placeholder=""
        >
        </p-dropdown>
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="add-questions">
      <p-button
        (click)="showDialogQuestion()"
        icon="pi pi-plus"
        class="m-1"
        label="Add Questions"
      ></p-button>
      <p-dialog
        [closable]="false"
        header="Add Question"
        [(visible)]="questionDialogVisible"
        [modal]="true"
        [style]="{ width: '35%' }"
        [draggable]="false"
        [resizable]="false"
      >
        <div class="add-btn">
          <div class="col-12">
            <ng-container
              *ngFor="let area of questionTextInputs; let i = index"
            >
              <div>
                <textarea
                  rows="5"
                  cols="30"
                  pInputTextarea
                  [(ngModel)]="area.value"
                  class="mb-3"
                ></textarea>
                <p-button
                  *ngIf="showMinusIcon[i]"
                  (click)="removeTextAreaQuestion(i)"
                  icon="pi pi-minus"
                  class="remove-icon"
                ></p-button>
              </div>
            </ng-container>
          </div>
          <div class="round-icon-button">
            <p-button
              (click)="addNewTextAreaforQuestion()"
              icon="pi pi-plus"
              label="Add Questions"
            ></p-button>
          </div>
        </div>
        <div class="btn-group-model justify-content-end grid gap-4">
          <p-button
            class="cancel-btn"
            label="Cancel"
            [text]="true"
            (click)="hideDialogQuestion()"
            severity="secondary"
          ></p-button>
          <p-button
            class="model-btn grid"
            (click)="submitAddQuestion()"
            label="Save"
          ></p-button>
        </div>
      </p-dialog>
    </div>

    <div class="btn-group">
      <p-button
        (click)="showDialog()"
        icon="pi pi-plus"
        class="m-1"
        label="Add Offers"
      ></p-button>
      <p-dialog
        [closable]="false"
        header="Add Offers"
        [(visible)]="offerDialogVisible"
        [modal]="true"
        [style]="{ width: '35%' }"
        [draggable]="false"
        [resizable]="false"
      >
        <div class="add-btn">
          <div class="col-12">
            <ng-container *ngFor="let area of offerTextInputs; let i = index">
              <div>
                <textarea
                  rows="5"
                  cols="30"
                  pInputTextarea
                  [(ngModel)]="area.value"
                  class="mb-3"
                ></textarea>
                <p-button
                  *ngIf="showMinusIcon[i]"
                  (click)="removeTextArea(i)"
                  class="remove-icon"
                  icon="pi pi-minus"
                ></p-button>
              </div>
            </ng-container>
          </div>
          <div class="round-icon-button">
            <p-button
              (click)="addNewTextArea()"
              icon="pi pi-plus"
              label="Add Offers"
            ></p-button>
          </div>
        </div>
        <div class="btn-group-model justify-content-end grid gap-4">
          <p-button
            class="cancel-btn"
            label="Cancel"
            [text]="true"
            (click)="hideDialog()"
            severity="secondary"
          ></p-button>
          <p-button
            class="model-btn grid"
            (click)="submitAddOffer()"
            [loading]="loading"
            (onClick)="load()"
            label="Save"
          ></p-button>
        </div>
      </p-dialog>
    </div>
  </div>

  <div class="footer-btns relative justify-content-end grid gap-4">
    <p-button class="cancel-btn w-9rem" label="Cancel"></p-button>

    <p-button class="submit-btn w-9rem" label="Submit"></p-button>
  </div>
</div>
