@import '../../../@theme/styles/themes';

$legend-all-orders-color: #00977e;
$legend-payment-color: #6935ca;
$legend-canceled-color: #3f4fda;

@include nb-install-component() {

  nb-tabset {
    display: flex;
    flex-direction: column;
    flex: 1;

    ::ng-deep ul {
      // make same size as card header
      border-color: transparent;
      padding-bottom: 1px;
      .tab-link {
        padding: 1.25rem 2rem;
      }
    }
  }

  nb-tab {
    flex: 1;
    padding: 0 0 1.25rem;
  }

  .chart-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  ngx-profit-chart,
  ngx-orders-chart {
    padding: 0 1.25rem;
  }
}

@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card-body {
    display: flex;
    justify-content: space-between;

    input {
      width: 100%;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;

  margin: 0 auto; /* Center the row horizontally */
  max-width: 100%; /* Ensure the row doesn't exceed the viewport width */
}

@include nb-install-component() {
  .list-card {
    nb-card-header {
      border-bottom: none;
    }

    nb-card-body {
      padding: 0;
     
    }
    nb-list-item{
     padding: 12px;
     
    }
    nb-list{
      //height: 227px;
      
    }
    nb-list::-webkit-scrollbar {
      width: 8px;
      height: 4px;
    }
    
    nb-list::-webkit-scrollbar-thumb {
      background-color: #7fa59f; /* Color of the scrollbar thumb */
      border-radius: 10px;
    }
    
    nb-list::-webkit-scrollbar-track {
      background-color: #f1f1f1; /* Color of the scrollbar track */
      border-radius: 10px;
    }
    
  }
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the container takes up the full viewport height */
}

.chart{
  margin-top: 50px;
  margin-left: -2rem;
}
.flex-container {
  display: flex;
  //flex-wrap: wrap; /* Allow flex items to wrap onto multiple lines */
  justify-content: space-between; /* Distribute items evenly */
  overflow-y: auto; 
  max-height: 300px; /* Set a fixed height for the container */
}

// .list-card {
//   margin-right: 10px; /* Add margin between cards for better spacing */
// }

.flex-container::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
.main-container{
  height: 200px;
}
.Select-Interval{
  margin-left: 59.5rem;
}

.flex-container::-webkit-scrollbar-thumb {
  background-color: #7fa59f; /* Color of the scrollbar thumb */
  border-radius: 10px;
}

.flex-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 10px;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card {
  padding: 10px;
  margin-bottom: 10px;
  ul { list-style: none;
    padding: 0;
  strong{
    margin-top: 10px;
    margin-left: 10px;
    color: #fff;
    background-color: #6935ca;
    padding: 3px;
    border-radius: 8px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
  h2 {
    font-size: 0.9734rem;
    border-bottom: 1px solid #ccc;
  }
}
.gap-1 {
  display: flex;
  gap: 16px;
}

.menu-item a.active {
  color:#050505 !important;
  .menu-icon {
    color:#050505 !important;
  }
}

.btn-container {
  display: flex;
  flex-wrap: wrap; 
}

.btn {
  position: relative;
  white-space: nowrap;
  font-size: 0.7rem;
  text-align: center;
}

.btn > span {
  display: inline-block;
}

.arrow-right {
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
}

.tooltip {
  position: fixed;
  padding: 6px 12px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 4px;
  z-index: 999;
  white-space: nowrap;
}

.tooltip-content {
  display: flex;
  flex-direction: column; 
}

.tooltip-content span {
  margin-bottom: 5px; 
}

.btn-selected {
  background-color: #007bff; 
  color: white;
}

.btn-selected {
  background-color: #f0b04b;
  transition: width 0.5s ease, left 0.5s ease, background-color 0.5s ease; 
}

.tooltip-content {
  display: flex;
  flex-direction: column;
  padding: 10px; 
  border: 2px solid #007bff; 
  border-radius: 8px; 
  background-color: #f0f0f0; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  max-height: 100px;
  overflow-y: auto; 
}

.tooltip-content span {
  font-size: 14px; 
  color: #333; 
}

.tooltip-content span:last-child {
  margin-bottom: 0; 
}


.tooltip-content:hover {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




.flow-graph button {
  width: 100%;
  height: 100%; 
}

.flow-graph ol {
  margin: 0;
  list-style: none;
  padding: 0;
  --hue: 1;
  --unit: 0.5rem;
}
.flow-graph h1 {
  text-align: center;
}
.flow-graph p {
  line-height: 1.3;
}
.flow-graph .event-date {
  margin: 0 0 0.25rem;
  font-weight: bold;
  font-size: 12px;
}
.flow-graph .event-description {
  margin: 0;
  display: none;
}
.flow-graph li {
  --height: 1rem; 
  position: relative;
  display: inline-block;
  background-color: #38f2d9;
  border-color: #38f2d9;
  padding: 0.1rem;
  margin: 0.1rem;
}
.flow-graph li::before {
  content: "";
  background-color: inherit;
  position: absolute;
  display: block;
  width: var(--unit);
  height: var(--unit);
  top: 100%;
  left: calc(50% - (var(--unit)/2));
}
.flow-graph li::after {
  content: "";
  position: absolute;
  display: block;
  top: calc(100% + var(--unit));
  left: calc(50% - (var(--unit)));
  border: var(--unit) solid transparent;
  border-top-color: inherit;
}
.flow-graph li:last-child::before,
.flow-graph li:last-child::after {
  content: none;
}
.flow-graph li:nth-child(20n+1){
  --hue: 1;
}
.flow-graph li:nth-child(20n+2){
  --hue: 2;
}
.flow-graph li:nth-child(20n+3){
  --hue: 3;
}
.flow-graph li:nth-child(20n+4){
  --hue: 4;
}
.flow-graph li:nth-child(20n+5){
  --hue: 5;
}
.flow-graph li:nth-child(20n+6){
  --hue: 6;
}
.flow-graph li:nth-child(20n+7){
  --hue: 7;
}
.flow-graph li:nth-child(20n+8){
  --hue: 8;
}
.flow-graph li:nth-child(20n+9){
  --hue: 9;
}
.flow-graph li:nth-child(20n+10){
  --hue: 10;
}
.flow-graph li:nth-child(20n+11){
  --hue: 11;
}
.flow-graph li:nth-child(20n+12){
  --hue: 12;
}
.flow-graph li:nth-child(20n+13){
  --hue: 13;
}
.flow-graph li:nth-child(20n+14){
  --hue: 14;
}
.flow-graph li:nth-child(20n+15){
  --hue: 15;
}
@media (min-width: 550px) and (max-width: 899px){
  .flow-graph li {
    margin: 0.6rem;
    width: calc(33.33% - 1.2rem);
    float: left;
    height: 2rem;
  }
  .flow-graph li:nth-child(6n+4),
    .flow-graph li:nth-child(6n+5),
    .flow-graph li:nth-child(6n+6) {
      float: right;
    }
    .flow-graph li:nth-child(6n+1)::before,
    .flow-graph li:nth-child(6n+2)::before {
      top: calc(var(--height)/2 + var(--unit)/2);
      left: 100%;
    }
    .flow-graph li:nth-child(6n+1)::after,
    .flow-graph li:nth-child(6n+2)::after {
      top: 0.5rem;
      left: calc(100% + (var(--unit)));
      border: var(--unit) solid transparent;
      border-left-color: inherit;
    }
    .flow-graph li:nth-child(6n+4)::before,
    .flow-graph li:nth-child(6n+5)::before{
      top: calc(var(--height)/2 + var(--unit)/2);
      left: -0.5rem;
    }
    .flow-graph li:nth-child(6n+4)::after,
    .flow-graph li:nth-child(6n+5)::after{
      top: calc(var(--height)/2);
      left: -1.5rem;
      border: var(--unit) solid transparent;
      border-right-color: inherit;
    }
}

@media (min-width: 900px){
  .flow-graph ol {
    max-width: 1600px;
    margin: 0 auto;
  }
  .flow-graph li {
    margin: 0.6rem;
    width: calc(16.66% - 1.2rem);
    float: left;
     height: 2rem;
    border-radius: 4px;
  }
  .flow-graph li:nth-child(12n+7),
    .flow-graph li:nth-child(12n+8),
    .flow-graph li:nth-child(12n+9),
    .flow-graph li:nth-child(12n+10),
    .flow-graph li:nth-child(12n+11){
      float: right;
    }
    .flow-graph li:nth-child(12n+1)::before,
    .flow-graph li:nth-child(12n+2)::before,
    .flow-graph li:nth-child(12n+3)::before,
    .flow-graph li:nth-child(12n+4)::before,
    .flow-graph li:nth-child(12n+5)::before{
      top: calc(var(--height)/2 + var(--unit)/2);
      left: 100%;
    }
    .flow-graph li:nth-child(12n+1)::after,
    .flow-graph li:nth-child(12n+2)::after,
    .flow-graph li:nth-child(12n+3)::after,
    .flow-graph li:nth-child(12n+4)::after,
    .flow-graph li:nth-child(12n+5)::after{
      top: calc(var(--height)/2);
      left: calc(100% + (var(--unit)));
      border: var(--unit) solid transparent;
      border-left-color: inherit;
    }
    .flow-graph li:nth-child(12n+7)::before,
    .flow-graph li:nth-child(12n+8)::before,
    .flow-graph li:nth-child(12n+9)::before,
    .flow-graph li:nth-child(12n+10)::before,
    .flow-graph li:nth-child(12n+11)::before{
      top: calc(var(--height)/2 + var(--unit)/2);
      left: -0.5rem;
    }
    .flow-graph li:nth-child(12n+7)::after,
    .flow-graph li:nth-child(12n+8)::after,
    .flow-graph li:nth-child(12n+9)::after,
    .flow-graph li:nth-child(12n+10)::after,
    .flow-graph li:nth-child(12n+11)::after {
      top: calc(var(--height)/2);
      left: -1.5rem;
      border: var(--unit) solid transparent;
      border-right-color: inherit;
    }
}



@media (max-width: 549px){
  .flow-graph li {
    margin: 0.7rem auto;
    width: calc(100% - 2rem);
    height: 2rem;
    position: relative;
  }
  .flow-graph li::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid #38f2d9; 
    top: -px; 
    left: calc(50% - 4px);
  }
  .flow-graph li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #38f2d9; 
    bottom: -10px; 
    left: calc(50% - 10px);
    top: 42px;
  }
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background-color: transparent;
  transition: width 0.3s ease, left 0.3s ease, background-color 0.3s ease;
}

.btn.btn-primary::after {
  background-color: #f0b04b; 
}

.btn.btn-selected::after {
  left: 0;
  width: 100%;
}
