<!-- <div style="display:flex">
  <button style="background:#fff;border: 1px solid #ccc; padding: 10px; border-radius:8px;" (click)="loadSelectedTabData('dashboard')">Dashboard</button>
  <button style="background:#fff;border: 1px solid #ccc; padding: 10px; border-radius:8px;" (click)="loadSelectedTabData('insights')">Insights</button>
</div> -->

<div style="display: flex">
  <button
    [ngClass]="{ active: tabToggle === false }"
    (click)="loadSelectedTabData('dashboard')"
  >
    Dashboard
  </button>
  <button
    [ngClass]="{ active: tabToggle === true }"
    (click)="loadSelectedTabData('insights')"
  >
    Insights
  </button>
</div>

<div class="row col-md-12 col-lg-3 col-xxxl-3" *ngIf="tabToggle">
  <div>
    <nb-card>
      <nb-card-header>Client</nb-card-header>
      <nb-card-body>
        <nb-select
          placeholder="Select Client:"
          id="clientSelect"
          [(selected)]="defaultSelectedClient"
          (selectedChange)="onClientChange($event)"
        >
          <nb-option *ngFor="let client of clientNames" [value]="client">
            {{ client }}
          </nb-option>
        </nb-select>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-3 col-xxxl-3">
    <nb-card>
      <nb-card-header>Users</nb-card-header>
      <nb-card-body>
        <nb-select
          placeholder="Select UserId"
          id="userSelect"
          [(selected)]="selectedUsername"
          (selectedChange)="onUserChange()"
        >
          <nb-option
            *ngFor="let user of dataService.userDropdownData"
            [value]="user.id"
          >
            {{ user.value }}
          </nb-option>
        </nb-select>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-3 col-xxxl-3">
    <nb-card>
      <nb-card-header>Date</nb-card-header>
      <nb-card-body>
        <nb-select
          placeholder="Select Date"
          id="dateSelect"
          [(selected)]="selectedDate"
          (selectedChange)="loadDatesForUser(selectedUsername)"
        >
          <nb-option *ngFor="let date of userEventDates" [value]="date.id">
            {{ date.value }}
          </nb-option>
        </nb-select>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card class="high-chart" size="large">
      <div id="container" style="width: 100%; height: 450px"></div>
    </nb-card>
  </div>
</div>

<div *ngIf="!tabToggle">
  <p>Dashboard Widgets laod here.</p>
</div>
