@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import "primeicons/primeicons.css";
// styles.scss
@import 'ngx-toastr/toastr';
// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '@nebular/theme/styles/globals';
@import '@nebular/auth/styles/globals';

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};


#map-chart-container > div  {
  width: 100% !important;
}


/* width */
::-webkit-scrollbar {
  width:8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  width: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3B82F6; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.card-outline {
  border: 1px solid #474a4c;
    border-radius: 8px;
}