<div class="col-12 mb-20">
  <button
    [ngClass]="{ active: tabToggle === false }"
    (click)="loadSelectedTabData('dashboard')"
  >
    Dashboard
  </button>
  <button
    [ngClass]="{ active: tabToggle === true }"
    (click)="loadSelectedTabData('insights')"
  >
    Insights
  </button>
</div>

<div class="row dropdowns col-12" *ngIf="tabToggle">
  <div class="col-12 col-lg-4">
    <nb-card>
      <nb-card-header>Client</nb-card-header>
      <nb-card-body>
        <nb-select
          placeholder="Select Client:"
          id="clientSelect"
          [(selected)]="defaultSelectedClient"
          (selectedChange)="onInsightClientChange($event)"
        >
          <nb-option
            class="client-option-list"
            *ngFor="let client of clientNames"
            [value]="client"
          >
            {{ client }}
          </nb-option>
        </nb-select>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-12 col-lg-4">
    <nb-card>
      <nb-card-header>Users</nb-card-header>
      <nb-card-body>
        <nb-select
          placeholder="Select UserId"
          id="userSelect"
          [(selected)]="selectedUsername"
          (selectedChange)="onUserChange()"
        >
          <nb-option
            *ngFor="let user of dataService.userDropdownData"
            [value]="user.id"
          >
            {{ user.value }}
          </nb-option>
        </nb-select>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="date-calender col-12 col-lg-4">
    <nb-card class="custom-card-height">
      <nb-card-header>Date</nb-card-header>
      <p-calendar
        class="date-input field"
        #datePicker
        [(ngModel)]="selectedDate"
        (onSelect)="onDateChange($event)"
        placeholder="Select The Date"
        [showClear]="false"
        dateFormat="yy-mm-dd"
        [showIcon]="true"
        inputId="icondisplay"
      ></p-calendar>
    </nb-card>
  </div>

  <div class="col-md-12 p-0" *ngIf="selectedUsername">
    <div class="col-md-12 text-right mb-20">
      <nb-select
        [(selected)]="selectedInterval"
        (selectedChange)="onIntervalChange(selectedInterval)"
      >
        <nb-option value="daily">Daily</nb-option>
        <nb-option value="weekly">Weekly</nb-option>
        <nb-option value="monthly">Monthly</nb-option>
      </nb-select>
    </div>
    <div
      class="col-12 col-lg-12"
      [ngClass]="{ 'disable-class': chartDisabled === true }"
    >
      <nb-card class="high-chart" size="large">
        <div id="container" style="width: 100%; height: 450px"></div>
      </nb-card>
    </div>
  </div>
</div>

<div class="row" *ngIf="tabToggle">
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <h4>Screens Overview</h4>
    <div
      class="row gap-1 main-container"
      style="max-height: 500px; overflow-y: auto"
    >
      <ng-container *ngFor="let s of screensList">
        <div class="card col-md-3 col-lg-3">
          <h2>{{ s.pageName }}</h2>
          <ul>
            <li *ngFor="let e of s.actions">
              <span>{{ e.key }}</span><strong>{{ e.value }}</strong>
            </li>
          </ul>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="flow-graph row" *ngIf="tabToggle">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <ol>
      <ng-container *ngFor="let s of screensList; let i = index">
        <li>
          <button
            class="btn"
            [class.btn-primary]="isSelected(s)"
            [class.btn-selected]="isSelected(s)"
            (click)="toggleTooltip($event, s.actions); setSelected(s)"
            title="View clicked buttons"
          >
            <span>{{ s.pageName + " page" }}</span>
          </button>
        </li>
      </ng-container>
    </ol>
  </div>
</div>
<!-- 
dashboard -->

<div *ngIf="!tabToggle">
  <div style="float: right; margin-top: -3.5rem; margin-right: 1.5rem">
    <div>
      <nb-select
        placeholder="Select Client:"
        id="clientSelect"
        [(selected)]="defaultSelectedClient"
        (selectedChange)="onDashboardClientChange(defaultSelectedClient)"
      >
        <nb-option *ngFor="let client of clientNames" [value]="client">
          {{ client }}
        </nb-option>
      </nb-select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-5 col-xxxl-6 mb-20">
      <div class="card-outline">
        <div id="pie-chart-container"></div>
      </div>
    </div>

    <div class="col-md-12 col-lg-5 col-xxxl-6 mb-20">
      <div class="card-outline">
        <div id="bar-chart-container"></div>
      </div>
    </div>

    <div class="col-md-12 col-lg-5 col-xxxl-6 mb-20">
      <div class="card-outline">
        <div id="pieChartContainer"></div>
        <div id="total-count" class="center-label"></div>
      </div>
    </div>

    <div
      class="col-md-12 col-lg-5 col-xxxl-6 mb-20"
      *ngIf="chartOptions !== null"
      [ngClass]="{ 'disable-class': mapDisable === true }"
    >
      <div class="card-outline">
        <highcharts-chart
          id="map-chart-container"
          [Highcharts]="Highcharts"
          [constructorType]="chartConstructor"
          [options]="chartOptions"
        >
        </highcharts-chart>
      </div>
    </div>
  </div>
</div>
