<h3>{{ header }}</h3>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
  [show]="isLoading"
></ngx-spinner>

<div class="dashboard-container">
  <!-- top buttons -->
  <span class="buttons-container">
    <button
      (click)="changeActiveTab('dashboard'); loadSelectedTabData()"
      [ngClass]="[activeTab === 'dashboard' ? 'active' : 'inactive']"
    >
      Dashboard
    </button>
    <button
      (click)="changeActiveTab('insights')"
      [ngClass]="[activeTab === 'insights' ? 'active' : 'inactive']"
    >
      Insights
    </button>
  </span>

  <div class="row dropdowns col-12" *ngIf="activeTab === 'insights'">
    <div class="col-12 col-lg-4">
      <div class="card grid col-12">
        <div class="card-body">
          <p-dropdown
            [options]="clientNames"
            [(ngModel)]="defaultSelectedClient"
            (onChange)="onInsightClientChange(defaultSelectedClient)"
            placeholder="Select a client"
          >
          </p-dropdown>
        </div>

        <div class="card-body">
          <p-dropdown
            [options]="dataService.userDropdownData"
            [(ngModel)]="selectedUsername"
            (onChange)="onUserChange()"
            optionLabel="value"
            optionValue="id"
            placeholder="Select UserId"
          >
          </p-dropdown>
        </div>

        <div class="card custom-card-height">
          <p-calendar
            class="date-input field"
            #datePicker
            [(ngModel)]="selectedDate"
            (onSelect)="onDateChange($event)"
            placeholder=" Date"
            id="icondisplay"
          ></p-calendar>
        </div>
      </div>

      <div class="col-md-12 p-0" *ngIf="selectedUsername">
        <div class="col-md-12 text-right mb-20" *ngIf="intervalOptions">
          <p-dropdown
            [options]="intervalOptions"
            [(ngModel)]="selectedInterval"
            (onChange)="onIntervalChange(selectedInterval)"
            optionLabel="label"
            optionValue="value"
          ></p-dropdown>
        </div>
        <div
          class="col-12 col-lg-12"
          [ngClass]="{ 'disable-class': chartDisabled === true }"
        >
          <div class="high-chart" style="width: 96%; height: 450px">
            <div id="container"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 
dashboard -->
  <div *ngIf="activeTab == 'dashboard'" class="p-8">
    <div>
      <p-dropdown
        class="dashboard-dropdown"
        [options]="clientNames"
        [(ngModel)]="defaultSelectedClient"
        (onChange)="onDashboardChange(defaultSelectedClient)"
      >
      </p-dropdown>
    </div>

    <div class="cards-grid grid">
      <div class="col-12 lg:col-6">
        <div class="card-widget">
          <p-card-header>
            <div style="display: flex">
              <div class="header">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icons"
                  width="45"
                  height="27.729"
                  viewBox="0 0 24.646 27.729"
                >
                  <path
                    id="Path_803"
                    d="M4,0H36a4,4,0,0,1,4,4V25a4,4,0,0,1-4,4H4a4,4,0,0,1-4-4V4A4,4,0,0,1,4,0Z"
                    fill="none"
                  />
                  <path
                    id="Path_801"
                    d="M33.713,18.075h0C32.47,15.515,27.6,7.167,16.983,7.167S1.5,15.515.253,18.075a2.488,2.488,0,0,0,0,2.187C1.5,22.819,6.369,31.168,16.983,31.168s15.487-8.348,16.73-10.908A2.487,2.487,0,0,0,33.713,18.075ZM16.983,28.5c-8.926,0-13.091-7.155-14.152-9.319,1.061-2.193,5.227-9.348,14.152-9.348,8.9,0,13.071,7.124,14.152,9.334C30.054,21.377,25.888,28.5,16.983,28.5Z"
                    transform="translate(0 -7.167)"
                    fill="#ebeef9"
                  />

                  <path
                    id="Path_802"
                    d="M23.8,16.722a6.881,6.881,0,0,0-7.076,6.667A6.881,6.881,0,0,0,23.8,30.056a6.881,6.881,0,0,0,7.076-6.667A6.889,6.889,0,0,0,23.8,16.722Zm0,10.667a4.128,4.128,0,0,1-4.246-4,4.128,4.128,0,0,1,4.246-4,4.128,4.128,0,0,1,4.246,4A4.128,4.128,0,0,1,23.8,27.389Z"
                    transform="translate(-6.816 -11.389)"
                    fill="#ebeef9"
                  />
                </svg>
              </div>

              <span class="icon-header">Most Viewed Pages</span>
            </div>
            <span class="menu-icon"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="4"
                viewBox="0 0 18 4"
              >
                <g
                  id="menu-dots-vertical"
                  transform="translate(0 4) rotate(-90)"
                >
                  <circle
                    id="Ellipse_16"
                    data-name="Ellipse 16"
                    cx="2"
                    cy="2"
                    r="2"
                    fill="#707070"
                  />
                  <circle
                    id="Ellipse_17"
                    data-name="Ellipse 17"
                    cx="2"
                    cy="2"
                    r="2"
                    transform="translate(0 7)"
                    fill="#707070"
                  />
                  <circle
                    id="Ellipse_18"
                    data-name="Ellipse 18"
                    cx="2"
                    cy="2"
                    r="2"
                    transform="translate(0 14)"
                    fill="#707070"
                  />
                </g></svg
            ></span>
          </p-card-header>
          <div id="pie-chart-container"></div>
        </div>
      </div>

      <div class="col-12 lg:col-6">
        <div class="card-widget">
          <p-card-header>
            <div style="display: flex">
              <div class="header">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="25.754"
                  height="30.919"
                  viewBox="0 0 24.646 27.729"
                >
                  <path
                    id="cursor-finger"
                    d="M22.584,12.079l-7.7-1.541V4A3.969,3.969,0,0,0,11.66.053,3.865,3.865,0,0,0,7.151,3.865v8.581L3.558,17.134a6.468,6.468,0,0,0,.321,8.752L6.97,29.01a6.488,6.488,0,0,0,4.578,1.908h9.773a6.449,6.449,0,0,0,6.441-6.441V18.395a6.458,6.458,0,0,0-5.179-6.316Zm2.6,12.4a3.865,3.865,0,0,1-3.865,3.865H11.549A3.893,3.893,0,0,1,8.8,27.194L5.708,24.066a3.9,3.9,0,0,1-.149-5.311l1.592-2.078V21.9a1.288,1.288,0,0,0,2.576,0V3.865A1.288,1.288,0,0,1,11.242,2.6,1.394,1.394,0,0,1,12.3,4v7.592a1.288,1.288,0,0,0,1.031,1.263L22.074,14.6a3.878,3.878,0,0,1,3.112,3.79Z"
                    transform="translate(-2.008 0.001)"
                    fill="#ebeef9"
                  />
                </svg>
              </div>

              <span class="icon-header">Most Clicked Actions </span>
            </div>
            <span class="menu-icon"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="4"
                viewBox="0 0 18 4"
              >
                <g
                  id="menu-dots-vertical"
                  transform="translate(0 4) rotate(-90)"
                >
                  <circle
                    id="Ellipse_16"
                    data-name="Ellipse 16"
                    cx="2"
                    cy="2"
                    r="2"
                    fill="#707070"
                  />
                  <circle
                    id="Ellipse_17"
                    data-name="Ellipse 17"
                    cx="2"
                    cy="2"
                    r="2"
                    transform="translate(0 7)"
                    fill="#707070"
                  />
                  <circle
                    id="Ellipse_18"
                    data-name="Ellipse 18"
                    cx="2"
                    cy="2"
                    r="2"
                    transform="translate(0 14)"
                    fill="#707070"
                  />
                </g></svg
            ></span>
          </p-card-header>
          <div id="bar-chart-container"></div>
        </div>
      </div>

      <div class="col-12 lg:col-6">
        <div class="card-widget">
          <p-card-header>
            <div style="display: flex">
              <div class="header">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24.646"
                  height="27.729"
                  viewBox="0 0 24.646 27.729"
                >
                  <path
                    id="user-check"
                    d="M9.87,14.8a7.4,7.4,0,1,0-7.4-7.4A7.41,7.41,0,0,0,9.87,14.8Zm0-12.337A4.935,4.935,0,1,1,4.935,7.4,4.94,4.94,0,0,1,9.87,2.467Zm9.87,24.674v1.234a1.234,1.234,0,0,1-2.467,0V27.142a7.4,7.4,0,0,0-14.8,0v1.234a1.234,1.234,0,0,1-2.467,0V27.142a9.87,9.87,0,0,1,19.74,0Zm9.5-14.537-4.925,4.781a3.866,3.866,0,0,1-5.453-.012l-2.432-2.287a1.234,1.234,0,1,1,1.693-1.8L20.576,15.6a1.414,1.414,0,0,0,2,.026l4.937-4.794a1.234,1.234,0,0,1,1.719,1.77Z"
                    fill="#ebeef9"
                  />
                </svg>
              </div>
              <span class="icon-header">Active User by Device</span>
            </div>
            <span class="menu-icon"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="4"
                viewBox="0 0 18 4"
              >
                <g
                  id="menu-dots-vertical"
                  transform="translate(0 4) rotate(-90)"
                >
                  <circle
                    id="Ellipse_16"
                    data-name="Ellipse 16"
                    cx="2"
                    cy="2"
                    r="2"
                    fill="#707070"
                  />
                  <circle
                    id="Ellipse_17"
                    data-name="Ellipse 17"
                    cx="2"
                    cy="2"
                    r="2"
                    transform="translate(0 7)"
                    fill="#707070"
                  />
                  <circle
                    id="Ellipse_18"
                    data-name="Ellipse 18"
                    cx="2"
                    cy="2"
                    r="2"
                    transform="translate(0 14)"
                    fill="#707070"
                  />
                </g></svg
            ></span>
          </p-card-header>
          <div id="pieChartContainer"></div>
          <div id="total-count" class="center-label"></div>
        </div>
      </div>

      <div class="col-12 lg:col-6">
        <div class="card-widget">
          <p-card-header>
            <div style="display: flex">
              <div class="header">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24.646"
                  height="27.729"
                  viewBox="0 0 24.646 27.729"
                >
                  <path
                    id="user-check"
                    d="M9.87,14.8a7.4,7.4,0,1,0-7.4-7.4A7.41,7.41,0,0,0,9.87,14.8Zm0-12.337A4.935,4.935,0,1,1,4.935,7.4,4.94,4.94,0,0,1,9.87,2.467Zm9.87,24.674v1.234a1.234,1.234,0,0,1-2.467,0V27.142a7.4,7.4,0,0,0-14.8,0v1.234a1.234,1.234,0,0,1-2.467,0V27.142a9.87,9.87,0,0,1,19.74,0Zm9.5-14.537-4.925,4.781a3.866,3.866,0,0,1-5.453-.012l-2.432-2.287a1.234,1.234,0,1,1,1.693-1.8L20.576,15.6a1.414,1.414,0,0,0,2,.026l4.937-4.794a1.234,1.234,0,0,1,1.719,1.77Z"
                    fill="#ebeef9"
                  />
                </svg>
              </div>
              <span class="icon-header">Active User by Device</span>
            </div>
            <span class="menu-icon"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="4"
                viewBox="0 0 18 4"
              >
                <g
                  id="menu-dots-vertical"
                  transform="translate(0 4) rotate(-90)"
                >
                  <circle
                    id="Ellipse_16"
                    data-name="Ellipse 16"
                    cx="2"
                    cy="2"
                    r="2"
                    fill="#707070"
                  />
                  <circle
                    id="Ellipse_17"
                    data-name="Ellipse 17"
                    cx="2"
                    cy="2"
                    r="2"
                    transform="translate(0 7)"
                    fill="#707070"
                  />
                  <circle
                    id="Ellipse_18"
                    data-name="Ellipse 18"
                    cx="2"
                    cy="2"
                    r="2"
                    transform="translate(0 14)"
                    fill="#707070"
                  />
                </g></svg
            ></span>
          </p-card-header>
          <div
            id="most-used-browsers-chart-container"
            style="
              height: 400px;
              margin: 0 auto;
              display: flex;
              align-items: center;
            "
          ></div>
        </div>
      </div>

      <div
        class="col-12 lg:col-6"
        style="width: 100%"
        *ngIf="chartOptions !== null"
        [ngClass]="{ 'disable-class': ismapDisable === true }"
      >
        <div class="card-widget" size="large">
          <p-card-header>
            <div style="display: flex">
              <div class="header">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24.646"
                  height="27.729"
                  viewBox="0 0 24.646 27.729"
                >
                  <path
                    id="globe"
                    d="M16.5,0A16.5,16.5,0,1,0,33,16.5,16.5,16.5,0,0,0,16.5,0ZM28.39,9.625H23.961A27.055,27.055,0,0,0,20.082,3.24,13.793,13.793,0,0,1,28.39,9.625Zm-5.7,6.875a14.04,14.04,0,0,1-.654,4.125H10.967a14.04,14.04,0,0,1-.655-4.125,14.04,14.04,0,0,1,.655-4.125H22.033a14.04,14.04,0,0,1,.654,4.125ZM12.07,23.375H20.93a26.969,26.969,0,0,1-4.43,6.308,26.909,26.909,0,0,1-4.43-6.308Zm0-13.75A26.969,26.969,0,0,1,16.5,3.316a26.909,26.909,0,0,1,4.43,6.309Zm.855-6.385A27.055,27.055,0,0,0,9.039,9.625H4.61a13.793,13.793,0,0,1,8.315-6.386ZM3.384,12.375H8.113a16.522,16.522,0,0,0-.55,4.125,16.522,16.522,0,0,0,.55,4.125H3.384a13.739,13.739,0,0,1,0-8.25Zm1.227,11H9.039a27.055,27.055,0,0,0,3.886,6.386A13.793,13.793,0,0,1,4.61,23.375Zm15.471,6.386a27.055,27.055,0,0,0,3.879-6.386H28.39A13.793,13.793,0,0,1,20.082,29.761Zm9.534-9.136H24.888a16.522,16.522,0,0,0,.55-4.125,16.522,16.522,0,0,0-.55-4.125h4.726a13.739,13.739,0,0,1,0,8.25Z"
                    fill="#ebeef9"
                  />
                </svg>
              </div>
              <span class="icon-header">Most Used Countries</span>
            </div>
            <span class="menu-icon"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="4"
                viewBox="0 0 18 4"
              >
                <g
                  id="menu-dots-vertical"
                  transform="translate(0 4) rotate(-90)"
                >
                  <circle
                    id="Ellipse_16"
                    data-name="Ellipse 16"
                    cx="2"
                    cy="2"
                    r="2"
                    fill="#707070"
                  />
                  <circle
                    id="Ellipse_17"
                    data-name="Ellipse 17"
                    cx="2"
                    cy="2"
                    r="2"
                    transform="translate(0 7)"
                    fill="#707070"
                  />
                  <circle
                    id="Ellipse_18"
                    data-name="Ellipse 18"
                    cx="2"
                    cy="2"
                    r="2"
                    transform="translate(0 14)"
                    fill="#707070"
                  />
                </g></svg
            ></span>
          </p-card-header>
          <highcharts-chart
            id="map-chart-container"
            [Highcharts]="Highcharts"
            [constructorType]="chartConstructor"
            [options]="chartOptions"
          >
          </highcharts-chart>
        </div>
      </div>
    </div>
  </div>
</div>
